daita-app/ai-caller-service/statemachine/caller_service_state_machine.asl.yaml
StartAt: PrepareTask
States:
  PrepareTask:
    Type: Task
    Resource: 'arn:aws:states:::states:startExecution.sync:2'
    InputPath: $.detail
    OutputPath: $.Output.Payload
    Parameters:
      StateMachineArn: '${PrepareStateMachine}'
      Input:
        abc: abc
        abcd.$: $$.Execution.Id
        ori.$: $
        ori2.$: $$
    Next: DownloadTask
    Comment: >-
      Check the level of parallelism, split requests into chunks and invoke
      lamndas
    Retry:
      - ErrorEquals:
          - RetriableCallerServiceError
        IntervalSeconds: 1
        MaxAttempts: 2
        BackoffRate: 1
  DownloadTask:
    Type: Task
    Resource: 'arn:aws:states:::states:startExecution.sync:2'
    InputPath: $.body
    OutputPath: $.Output.Payload
    Parameters:
      StateMachineArn: '${DownloadStateMachine}'
      Input:
        test: test
        body.$: $
    Next: GenerateTask
    Comment: >-
      Check the level of parallelism, split requests into chunks and invoke
      lamndas
    Retry:
      - ErrorEquals:
          - RetriableCallerServiceError
        IntervalSeconds: 1
        MaxAttempts: 2
        BackoffRate: 1
  GenerateTask:
    Type: Task
    Resource: 'arn:aws:states:::states:startExecution.sync:2'
    InputPath: $
    OutputPath: $
    Parameters:
      StateMachineArn: '${GenerateStateMachine}'
      Input:
        test: helloword
        body.$: $
    Next: UploadTask
    Comment: >-
      Check the level of parallelism, split requests into chunks and invoke
      lamndas
    Retry:
      - ErrorEquals:
          - RetriableCallerServiceError
        IntervalSeconds: 1
        MaxAttempts: 2
        BackoffRate: 1
  UploadTask:
    Type: Task
    Resource: 'arn:aws:states:::states:startExecution.sync:2'
    InputPath: $
    OutputPath: $
    Parameters:
      StateMachineArn: '${UploadStateMachine}'
    Next: Complete
    Comment: >-
      Check the level of parallelism, split requests into chunks and invoke
      lamndas
    Retry:
      - ErrorEquals:
          - RetriableCallerServiceError
        IntervalSeconds: 1
        MaxAttempts: 2
        BackoffRate: 1
  Complete:
    Type: Pass
    Comment: Used for result aggregation
    End: true
TimeoutSeconds: 1800
