daita-app/dataflow-service/compress-download-app/statemachine/compress_download.asl.yml
StartAt: StartECSCompressDownloadTask
States:
  StartECSCompressDownloadTask:
    Type: Task
    Resource: arn:aws:states:::ecs:runTask.sync
    Parameters:
      Cluster: ${CompressDownloadTaskCluster}
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED # Needed when pulling public Docker image
          Subnets:
            - ${SubnetId}
      Overrides:
        ContainerOverrides:
          -
            Name: compress-download
            Environment:
              - Name: TASK_ID
                Value.$: $.task_id
              - Name: IDENTITY_ID
                Value.$: $.identity_id
              - Name: DOWN_TYPE
                Value.$: $.down_type
              - Name: PROJECT_NAME
                Value.$: $.project_name
              - Name: PROJECT_ID
                Value.$: $.project_id
      TaskDefinition: ${CompressDownloadTask}
    ResultPath: null # Forward previous step input as this step output
    Next: Complete

  # SendMailFunction:
  #   Type: Task
  #   Resource: arn:aws:states:::lambda:invoke
  #   InputPath: $
  #   Parameters:
  #     FunctionName: "${FinishDecompressTaskFunction}"
  #     Payload.$: $
  #   Next: Complete

  Complete:
    Type: Pass
    # Comment: Used for result aggregation
    End: true
TimeoutSeconds: 1800