daita-app/dataflow-service/compress-download-app/statemachine/compress_download.asl.yml
# StartAt: StartECSCompressDownloadTask
StartAt: DivideDownloadKeysFunction
States:
  DivideDownloadKeysFunction:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    # Inputs: down_type, project_name, project_id, task_id, identity_id
    Parameters:
      FunctionName: ${DivideDownloadKeysFunction}
      Payload.$: $
    ResultSelector:
      file_chunks.$: $.Payload.file_chunks
      workdir.$: $.Payload.workdir
    ResultPath: $.taskresult
    Catch:
      - ErrorEquals:
        - States.ALL
        Next: SetTaskStatusError
        ResultPath: null
    Next: DownloadFilesMapping

  DownloadFilesMapping:
    Type: Map
    ItemsPath: $.taskresult.file_chunks
    Parameters:
      file_chunk.$: $$.Map.Item.Value
      workdir.$: $.taskresult.workdir
    Iterator:
      StartAt: DownloadFilesFunction
      States:
        DownloadFilesFunction:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke
          Parameters:
            FunctionName: "${DownloadFilesFunction}"
            Payload.$: $
          End: True
    ResultPath: null
    Catch:
      - ErrorEquals:
        - States.ALL
        Next: SetTaskStatusError
        ResultPath: null
    Next: StartECSCompressDownloadTask

  StartECSCompressDownloadTask:
    Type: Task
    Resource: arn:aws:states:::ecs:runTask.sync
    Parameters:
      Cluster: ${CompressDownloadTaskCluster}
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED # Needed when pulling public Docker image
          Subnets:
            - ${SubnetId}
      Overrides:
        ContainerOverrides:
          -
            Name: compress-download
            Environment:
              - Name: TASK_ID
                Value.$: $.task_id
              - Name: IDENTITY_ID
                Value.$: $.identity_id
              - Name: DOWN_TYPE
                Value.$: $.down_type
              - Name: PROJECT_NAME
                Value.$: $.project_name
              - Name: PROJECT_ID
                Value.$: $.project_id
              - Name: WORKDIR
                Value.$: $.taskresult.workdir
      TaskDefinition: ${CompressDownloadTask}
    ResultPath: null # Forward previous step input as this step output
    Catch:
      - ErrorEquals:
        - States.ALL
        Next: SetTaskStatusError
        ResultPath: null
    Next: SendCompletedMailFunction

  SendCompletedMailFunction:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    InputPath: $
    Parameters:
      FunctionName: "${SendCompletedMailFunction}"
      Payload.$: $
    Catch:
      - ErrorEquals:
        - States.ALL
        Next: SetTaskStatusError
        ResultPath: null
    Next: Complete

  SetTaskStatusError:
    Type: Task
    Resource: 'arn:aws:states:::dynamodb:updateItem'
    InputPath: $
    Parameters:
      TableName: "${TableDownloadTaskName}"
      Key:
        identity_id:
          S.$: $.identity_id
        task_id:
          S.$: $.task_id
      UpdateExpression: 'SET #st = :st'
      ExpressionAttributeNames:
        '#st': status
      ExpressionAttributeValues:
        ':st':
          S: ERROR
    ResultPath: $.DynamoDB
    Next: Complete

  Complete:
    Type: Pass
    # Comment: Used for result aggregation
    End: true
TimeoutSeconds: 1800