dataflow_service/decompress-app/statemachine/decompress_file.asl.yml
StartAt: DivideDecompressChunksFunction
States:
  # StartDecompressTask:
  #   Type: Task
  #   Resource: arn:aws:states:::ecs:runTask.sync
  #   Parameters:
  #     Cluster: ${DecompressTaskCluster}
  #     LaunchType: FARGATE
  #     NetworkConfiguration:
  #       AwsvpcConfiguration:
  #         AssignPublicIp: ENABLED # Needed when pulling public Docker image
  #         Subnets:
  #           - ${SubnetId}
  #     Overrides:
  #       ContainerOverrides:
  #         -
  #           Name: decompress-file
  #           Environment:
  #             - Name: DecompressTaskTable
  #               Value: ${DecompressTaskTable}
  #             - Name: FILE_URL
  #               Value: $.file_url
  #             - Name: TASK_ID
  #               Value: $.task_id
  #     TaskDefinition: ${DecompressTask}
  #   ResultPath: null # Forward previous step input as this step output
  #   Next: DivideDecompressChunksFunction

  DivideDecompressChunksFunction:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${DivideDecompressChunksFunction}"
      Payload.$: "$"
    Next: UploadDecompressedMapping

  UploadDecompressedMapping:
    Type: Map
    InputPath: $.Payload
    ItemsPath: $.file_chunks
    Parameters:
      file_chunk.$: $$.Map.Item.Value
      project_id.$: $.project_id
      id_token.$: $.id_token
      project_name.$: $.project_name
      type_method.$: $.type_method
    Iterator:
      StartAt: UploadDecompressedFunction
      States:
        UploadDecompressedFunction:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke
          Parameters:
            FunctionName: "${UploadDecompressedFunction}"
            Payload.$: "$"
          End: True
    ResultPath: null
    Next: FinishDecompressTaskFunction

  FinishDecompressTaskFunction:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    InputPath: $.Payload
    Parameters:
      FunctionName: "${FinishDecompressTaskFunction}"
      Payload.$: "$"
    Next: Complete

  Complete:
    Type: Pass
    # Comment: Used for result aggregation
    End: true
TimeoutSeconds: 1800